# Fans configuration for D600SE

[static_digital_output camera_fan]
pins:PB15

[multi_pin g_fan]
pins: tool:PA6, tool:PB0, motion:PB8

[fan]
pin: multi_pin:g_fan
kick_start_time: 0.5
off_below: 0.10
max_power: 0.45

[heater_fan Sink_fan_0]
pin: tool:PA4
max_power: 1.0
kick_start_time: 0.5
heater: extruder
off_below: 0.10
heater_temp: 100

[heater_fan Sink_fan_1]
pin: tool:PB1
max_power: 1.0
kick_start_time: 0.5
heater: extruder1
off_below: 0.10
heater_temp: 100

[fan_generic Air_filter_fan]
pin: motion:PA7
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 1.0
off_below: 0.10
