# Fans configuration for D1200Ultra

[static_digital_output camera_fan]
pins:PB15

[multi_pin g_fan]
pins: motion:PA8, motion:PB8

[fan]
pin: multi_pin:g_fan
kick_start_time: 0.5
off_below: 0.10
max_power: 0.4

[heater_fan Sink_fan_0]
pin: L_tool:PB1
max_power: 1.0
kick_start_time: 0.5
heater: extruder
off_below: 0.10
heater_temp: 100

[heater_fan Sink_fan_1]
pin: R_tool:PB1
max_power: 1.0
kick_start_time: 0.5
heater: extruder1
off_below: 0.10
heater_temp: 100

[fan_generic Air_filter_fan]
pin: motion:PA7
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 1.0
off_below: 0.10

[multi_pin bed_fan]
pins: AC:PB10, AC:PB13, AC:PB15

[controller_fan heater_bed_fan]
pin: multi_pin:bed_fan
max_power: 1
shutdown_speed: 1
fan_speed: 1.0
idle_timeout: 30
idle_speed:1
heater: heater_bed
stepper:

[multi_pin chamber_fan]
pins: AC:PC10, AC:PB9, AC:PB7, AC:PB5, AC:PB3

[controller_fan chamber_fan]
pin: multi_pin:chamber_fan
max_power: 1
shutdown_speed: 1
fan_speed: 1
idle_timeout: 30
idle_speed: 1
heater: chamber
stepper:

[multi_pin filament_chamber_fan]
pins: AC:PA9, AC:PC6, AC:PD3, AC:PD9

[controller_fan filament_chamber_fan]
pin: multi_pin:filament_chamber_fan
max_power: 1
shutdown_speed: 1
fan_speed: 1.0
idle_timeout: 30
idle_speed:1
heater: heater_filament_chamber
stepper: 
