# camera calibration config for D600Pro3

[ktamv]
camera_center_points: 405.0, -23.0, 30.0
base_x_offset: 53.0

[nozzle_cleaner]
clean_x_min: 250
clean_x_max: 295
clean_y_min: -28
clean_y_max: -18
clean_z_height: 2.5
retract_z_height: 20.0
move_speed: 6000.0
clean_speed: 4000.0
hotend_temp: 180.0
