# Door configure for D600Pro3

[door front_door]
pin: motion:PE5
lock_pin: !motion:PE15

[door upper_door]
pin: motion:PE6
lock_pin: !motion:PB10

[gcode_macro _DOOR_START_PRINT_RESPOND]
description: Call handle door is open when starting to print
gcode:
    {% set sv = printer.save_variables.variables %}
    {% set door_function = sv.door_detect|default("Disabled") %}
    {% if door_function == "Disabled" %}
        SET_GCODE_VARIABLE MACRO=_START_PRINT_BASE VARIABLE=door_can_start VALUE=True
    {% else %}
        {% set door_status = printer['door front_door'].doors %}
        {% set open_doors = [] %}
        {% for door_name, status in door_status.items() %}
            {% if not status.door_state %}
                {% set _ = open_doors.append(door_name) %}
            {% endif %}
        {% endfor %}

        {% if open_doors|length > 0 %}
            SET_GCODE_VARIABLE MACRO=_START_PRINT_BASE VARIABLE=door_can_start VALUE=False
            
            {% set formatted_door_name = open_doors[0].replace('_', ' ').title() %}
            {% set prompt_text = "Printer %s is opened. Please close the door and then start printing."|format(formatted_door_name) %}     
            RESPOND TYPE=command MSG="action:prompt_begin"
            RESPOND TYPE=command MSG='{"action:prompt_text %s" % prompt_text}'
            RESPOND TYPE=command MSG="action:prompt_footer_button Ok|RESPOND TYPE=command MSG=action:prompt_end"
            RESPOND TYPE=command MSG="action:prompt_show"
        {% else %}
            SET_GCODE_VARIABLE MACRO=_START_PRINT_BASE VARIABLE=door_can_start VALUE=True
        {% endif %}
    {% endif %}

