# Sensors configuration for PEEK650HT

[adxl345]
spi_speed: 5000000
cs_pin: L_tool:PC4
spi_software_sclk_pin:L_tool:PA5
spi_software_mosi_pin:L_tool:PA7
spi_software_miso_pin:L_tool:PA6
axes_map: -x, -z, -y
rate: 3200

[resonance_tester]
accel_chip: adxl345
probe_points: 300, 250, 20
min_freq: 20
max_freq: 70
accel_per_hz: 200
hz_per_sec: 1

[filament_switch_sensor extruder]
pause_on_runout: False
runout_gcode: _RUNOUT_HANDLE
event_delay: 3.0
pause_delay: 0.5
switch_pin: ^PC14

[filament_switch_sensor extruder1]
pause_on_runout: False
runout_gcode: _RUNOUT_HANDLE
event_delay: 3.0
pause_delay: 0.5
switch_pin: ^PC15
