# Pause and Resume Configuration for D1000

########################################
# CANCEL_PRINT/PAUSE/RESUME/
########################################

[gcode_macro _CLIENT_VARIABLE]
variable_use_custom_pos   : True
variable_custom_park_x    : 500.0
variable_custom_park_y    : 350.0
variable_custom_park_dz   : 20.0
variable_retract          : 2.0
variable_cancel_retract   : 10.0
variable_speed_retract    : 60.0
variable_unretract        : 20.0
variable_speed_unretract  : 6.0
variable_speed_hop        : 5.0
variable_speed_move       : 100.0
variable_park_at_cancel   : False
variable_park_at_cancel_x : None
variable_park_at_cancel_y : None
variable_use_fw_retract   : False
variable_idle_timeout     : 600
variable_runout_sensor    : ""
variable_filament_sensor  : "filament_switch_sensor extruder"
variable_filament_sensor1 : "filament_switch_sensor extruder1"
variable_user_temp_macro  : "_USER_TEMP_RESUME"
variable_user_pause_macro : "_USER_PAUSE"
variable_user_resume_macro: ""
variable_user_cancel_macro: "_USER_CANCEL"
gcode:
 # Nothing

[gcode_macro _USER_PAUSE]
gcode:
    {% set heaters = [('extruder', 'last_extruder_temp'),
                        ('extruder1', 'last_extruder1_temp'),
                        ('heater_bed', 'last_bed_temp')] %}
    {% set act = printer.gcode_move.gcode_position %}
    SAVE_VARIABLE VARIABLE=power_resume_z VALUE={act.z}
    {% for heater, name in heaters %}
        {% set temp = printer[heater].target if heater in printer else 0 %}
        {% set restore = False if printer[heater] == ''
                else True if params.RESTORE|default(1)|int == 1 else False %}
        SET_GCODE_VARIABLE MACRO=RESUME VARIABLE={name} VALUE="{{'restore': restore, 'temp': temp}}"
    {% endfor %}
    SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=resume_extruder VALUE="'{printer.toolhead.extruder}'"

[gcode_macro _RESUME_EXTRUDER]
gcode:
    {% set client = printer['gcode_macro RESUME']|default({}) %}
    {% set autoshift_on = params.AUTOSHIFT|default(False)|lower %}
    {% set toolchange = client.change_runout|lower|default("") %}
    {% set extruder_filament = client.filament_state.extruder %}
    {% set extruder1_filament = client.filament_state.extruder1 %}
    {% set resume_extruder = client.resume_extruder|default("extruder") %}

    {% if autoshift_on == 'true' %}
        {% if extruder_filament and extruder1_filament %}
            {% if toolchange == "t0" %}
                {% set resume_extruder = "extruder" %}
            {% elif toolchange == "t1" %}
                {% set resume_extruder = "extruder1" %}
            {% endif %}
        {% else %}
            {% if extruder_filament %}
                {% set resume_extruder = "extruder" %}
            {% elif extruder1_filament %}
                {% set resume_extruder = "extruder1" %}
            {% endif %}
        {% endif %}
    {% endif %}
    {% if printer.toolhead.extruder != resume_extruder %}
        T{0 if resume_extruder|default("extruder") == "extruder" else 1 }
    {% endif %}
    _FILAMENT_UPDATE


[gcode_macro _EXTRUDER_TEMPERATURE_HANDLE]
gcode:
    {% set client = printer['gcode_macro RESUME']|default({}) %}
    {% set last_extruder_temp = client.last_extruder_temp %}
    {% set last_extruder1_temp = client.last_extruder1_temp %}
    {% set resume_extruder = client.resume_extruder|lower %}
    {% if resume_extruder != printer.toolhead.extruder %}
        SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=last_extruder_temp VALUE="{last_extruder1_temp}"
        SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=last_extruder1_temp VALUE="{last_extruder_temp}"
    {% endif %}

[gcode_macro _USER_TEMP_RESUME]
gcode:
    {% set extruder_info = [
        {'index': 0, 'name': 'last_extruder_temp'},
        {'index': 1, 'name': 'last_extruder1_temp'}] %}
    {% set value = printer["gcode_macro RESUME"]["last_bed_temp"].temp %}
    {% if value != 0 %}
      M190 S{value}
    {% endif %}
    {% set temperature = "last_extruder_temp" if printer.toolhead.extruder == "extruder" else "last_extruder1_temp" %}
    {% set value = printer["gcode_macro RESUME"][temperature].temp %}
    {% if printer[printer.toolhead.extruder].temperature < value-3 %}
        {% set msg = "Left" if printer.toolhead.extruder == "extruder" else "Right" %}
        RESPOND TYPE=echo MSG='{"Restoring %s extruder temperature, this may take some time." % msg}'
    {% endif %}
    {% for info in extruder_info %}
        {% set variable = printer["gcode_macro RESUME"][info.name] %}
        {% if variable.restore %}
            M104 T{ info.index } S{ variable.temp }
        {% endif %}
    {% endfor %}
    {% for info in extruder_info %}
        {% set variable = printer["gcode_macro RESUME"][info.name] %}
        {% if variable.restore %}
            {% set tool = "extruder" if info.index == 0 else "extruder1" %}
            {% set needwait = True if printer[tool].temperature < variable.temp else False %}
            {% if needwait %}
                M109 T{info.index} S{variable.temp}
                {% endif %}
        {% endif %}
    {% endfor %}

[gcode_macro _USER_CANCEL]
gcode:
    {% if 'z' in printer.toolhead.homed_axes %}
        G91
        G1 Z30 F600 ; lift nozzle
    {% endif %}
    M84

[gcode_macro _REAPPLY_OFFSET]
gcode:
    {% set re_extruder = printer['gcode_macro RESUME'].resume_extruder|default("extruder") %}
    {% set svv = printer.save_variables.variables %}
    {% set x_offset = svv.nozzle_x_offset_val|default(0)|float %}
    {% set y_offset = svv.nozzle_y_offset_val|default(0)|float %}
    {% set z_offset = svv.nozzle_z_offset_val|default(0)|float %}
    {% set x_offset = x_offset - 59 %}
    {% set is_extruder = printer.toolhead.extruder == "extruder" %}

    {% if printer.toolhead.extruder!= re_extruder %}
        SET_GCODE_OFFSET Z={0 if is_extruder else z_offset} MOVE=1
        SET_GCODE_OFFSET Y={0 if is_extruder else y_offset}
        SET_GCODE_OFFSET X={0 if is_extruder else x_offset}
    {% endif %}

[gcode_macro RESUME]
description: Resume the actual running print
rename_existing: RESUME_BASE
variable_last_extruder_temp: {'restore': False, 'temp': 0}
variable_last_extruder1_temp: {'restore': False, 'temp': 0}
variable_last_bed_temp: {'restore': False, 'temp': 0}
variable_restore_idle_timeout: 0
variable_idle_state: False
variable_filament_state: ""
variable_change_runout: ""
variable_resume_extruder: ""
gcode:
    ##### get user parameters or use default #####
    {% set autoshift = printer.save_variables.variables.auto_change_nozzle|default(False) %}
    {% set client = printer['gcode_macro _CLIENT_VARIABLE']|default({}) %}
    {% set do_resume = False %}
    {% set runout = True %}
    {% macro resume_action() %}
        _FILAMENT_UPDATE
        _RESUME_EXTRUDER AUTOSHIFT={autoshift}
        _EXTRUDER_TEMPERATURE_HANDLE

        {% set can_extrude = True if printer.toolhead.extruder == ''           # no extruder defined in config
                        else printer[printer.toolhead.extruder].can_extrude %} # status of active extruder
        #### Printer comming from timeout idle state ####
        {% if printer.idle_timeout.state|upper == "IDLE" or idle_state or autoshift %}
            SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=idle_state VALUE=False
        {% endif %}
        {% if last_extruder_temp.restore or last_extruder1_temp.restore %}
            { client.user_temp_macro|default("") }
            {% set do_resume = True %}
        {% elif can_extrude %}
            {% set do_resume = True %}
        {% endif %}
        _ACT_RESUME DO_RESUME={ do_resume }
    {% endmacro %}
    {% if printer['gcode_button _door_detection'] %}
        {% set sv = printer.save_variables.variables %}
        {% set door_function = sv.door_detect|default("Disabled") %}
        {% set door_state = printer['gcode_button _door_detection'].state|default('released')|lower %}

        {% if door_function == 'Pause Print' and door_state == 'released' %}
            RESPOND TYPE=command MSG="action:prompt_begin"
            RESPOND TYPE=command MSG="action:prompt_text Please close the door and click Resume to proceed."
            RESPOND TYPE=command MSG="action:prompt_footer_button Ok|RESPOND TYPE=command MSG=action:prompt_end"
            RESPOND TYPE=command MSG="action:prompt_show"
        {% else %}
            { resume_action() }
        {% endif %}
    {% else %}
        { resume_action() }
    {% endif %}

[gcode_macro _ACT_RESUME]
gcode:
    ##### get user parameters or use default #####
    {% set client = printer['gcode_macro _CLIENT_VARIABLE']|default({}) %}
    {% set velocity = printer.configfile.settings.pause_resume.recover_velocity %}
    {% set auto_extruder = params.AUTO|default(False) %}
    {% set sp_move = client.speed_move|default(velocity) %}
    {% set do_resume = true if params.DO_RESUME|default(False)|lower == 'true' else false %}
    {% set filament_state = printer['gcode_macro RESUME'].filament_state.runout|default(False) %}
    {% set restore_idle_timeout = printer['gcode_macro RESUME'].restore_idle_timeout|default(0) %}
    {% set prompt_txt = [] %}
    {% if filament_state %}
        {% if do_resume or auto_extruder %}
            {% if restore_idle_timeout > 0 %} SET_IDLE_TIMEOUT TIMEOUT={restore_idle_timeout} {% endif %} # restore idle_timeout time
            {client.user_resume_macro|default("")}
            _CLIENT_EXTRUDE
            RESUME_BASE VELOCITY={params.VELOCITY|default(sp_move)}
            _REAPPLY_OFFSET
            SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=change_runout VALUE="None"
        {% else %}
            {% set msg = "Left" if printer.toolhead.extruder == "extruder" else "Right" %}
            {% set _d = prompt_txt.append("%s extruder not hot enough, will reheat and continue." % msg) %}
        {% endif %}
    {% else %}
        {% set msg = "Left" if printer.toolhead.extruder == "extruder" else "Right" %}
        {% set _d = prompt_txt.append("%s extruder detects no filament, please load filament and continue." % msg) %}
    {% endif %}
    ##### Generate User Information box in case of abort #####
    {% if not (filament_state and do_resume) %}
        RESPOND TYPE=command MSG="action:prompt_begin RESUME ABORTED !"
        {% for element in prompt_txt %}
            RESPOND TYPE=command MSG='{"action:prompt_text %s" % element}'
        {% endfor %}
        RESPOND TYPE=command MSG="action:prompt_footer_button Ok|RESPOND TYPE=command MSG=action:prompt_end|info"
        RESPOND TYPE=command MSG="action:prompt_show"
    {% endif %}

[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
gcode:
  ##### get user parameters or use default #####
  {% set client = printer['gcode_macro _CLIENT_VARIABLE']|default({}) %}
  {% set allow_park = client.park_at_cancel|default(false)|lower == 'true' %}
  {% set retract = client.cancel_retract|default(5.0)|abs %}
  ##### define park position #####
  {% set park_x = "" if (client.park_at_cancel_x|default(none) is none)
            else "X=" ~ client.park_at_cancel_x %}
  {% set park_y = "" if (client.park_at_cancel_y|default(none) is none)
            else "Y=" ~ client.park_at_cancel_y %}
  {% set custom_park = park_x|length > 0 or park_y|length > 0 %}
  ##### end of definitions #####
  # restore idle_timeout time if needed
  {% if printer['gcode_macro RESUME'].restore_idle_timeout > 0 %}
    SET_IDLE_TIMEOUT TIMEOUT={printer['gcode_macro RESUME'].restore_idle_timeout}
  {% endif %}
  {% if (custom_park or not printer.pause_resume.is_paused) and allow_park %} _TOOLHEAD_PARK_PAUSE_CANCEL {park_x} {park_y} {% endif %}
  _CLIENT_RETRACT LENGTH={retract}
  TURN_OFF_HEATERS
  M106 S0
  {client.user_cancel_macro|default("")}
  SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=idle_state VALUE=False
  # clear pause_next_layer and pause_at_layer as preparation for next print
  SET_PAUSE_NEXT_LAYER ENABLE=0
  SET_PAUSE_AT_LAYER ENABLE=0 LAYER=0
  CANCEL_PRINT_BASE

[gcode_macro PAUSE]
description: Pause the actual running print
rename_existing: PAUSE_BASE
gcode:
  ##### get user parameters or use default ##### 
  {% set client = printer['gcode_macro _CLIENT_VARIABLE']|default({}) %}
  {% set idle_timeout = client.idle_timeout|default(0) %}
  {% set temp = printer[printer.toolhead.extruder].target if printer.toolhead.extruder != '' else 0 %}
  {% set restore = False if printer.toolhead.extruder == ''
              else True  if params.RESTORE|default(1)|int == 1 else False %}
  ##### end of definitions #####
  SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=last_extruder_temp VALUE="{{'restore': restore, 'temp': temp}}"
  # set a new idle_timeout value
  {% if idle_timeout > 0 %}
    SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=restore_idle_timeout VALUE={printer.configfile.settings.idle_timeout.timeout}
    SET_IDLE_TIMEOUT TIMEOUT={idle_timeout}
  {% endif %}
  PAUSE_BASE
  {client.user_pause_macro|default("")}
  _TOOLHEAD_PARK_PAUSE_CANCEL {rawparams}

# Usage: SET_PAUSE_NEXT_LAYER [ENABLE=[0|1]] [MACRO=<name>]
[gcode_macro SET_PAUSE_NEXT_LAYER]
description: Enable a pause if the next layer is reached
gcode:
  {% set pause_next_layer = printer['gcode_macro SET_PRINT_STATS_INFO'].pause_next_layer %}
  {% set ENABLE = params.ENABLE|default(1)|int != 0 %}
  {% set MACRO = params.MACRO|default(pause_next_layer.call, True) %}
  SET_GCODE_VARIABLE MACRO=SET_PRINT_STATS_INFO VARIABLE=pause_next_layer VALUE="{{ 'enable': ENABLE, 'call': MACRO }}"

# Usage: SET_PAUSE_AT_LAYER [ENABLE=[0|1]] [LAYER=<number>] [MACRO=<name>]
[gcode_macro SET_PAUSE_AT_LAYER]
description: Enable/disable a pause if a given layer number is reached
gcode:
  {% set pause_at_layer = printer['gcode_macro SET_PRINT_STATS_INFO'].pause_at_layer %}
  {% set ENABLE = params.ENABLE|int != 0 if params.ENABLE is defined
             else params.LAYER is defined %}
  {% set LAYER = params.LAYER|default(pause_at_layer.layer)|int %}
  {% set MACRO = params.MACRO|default(pause_at_layer.call, True) %}
  SET_GCODE_VARIABLE MACRO=SET_PRINT_STATS_INFO VARIABLE=pause_at_layer VALUE="{{ 'enable': ENABLE, 'layer': LAYER, 'call': MACRO }}"

# Usage: SET_PRINT_STATS_INFO [TOTAL_LAYER=<total_layer_count>] [CURRENT_LAYER= <current_layer>]
[gcode_macro SET_PRINT_STATS_INFO]
rename_existing: SET_PRINT_STATS_INFO_BASE
description: Overwrite, to get pause_next_layer and pause_at_layer feature
variable_pause_next_layer: { 'enable': False, 'call': "PAUSE" }
variable_pause_at_layer  : { 'enable': False, 'layer': 0, 'call': "PAUSE" }
gcode:
  {% if pause_next_layer.enable %}
    RESPOND TYPE=echo MSG='{"%s, forced by pause_next_layer" % pause_next_layer.call}'
    {pause_next_layer.call} ; execute the given gcode to pause, should be either M600 or PAUSE
    SET_PAUSE_NEXT_LAYER ENABLE=0
  {% elif pause_at_layer.enable and params.CURRENT_LAYER is defined and params.CURRENT_LAYER|int == pause_at_layer.layer %}
    RESPOND TYPE=echo MSG='{"%s, forced by pause_at_layer [%d]" % (pause_at_layer.call, pause_at_layer.layer)}'
    {pause_at_layer.call} ; execute the given gcode to pause, should be either M600 or PAUSE
    SET_PAUSE_AT_LAYER ENABLE=0
  {% endif %}
  SET_PRINT_STATS_INFO_BASE {rawparams}
  
##### internal use #####
[gcode_macro _TOOLHEAD_PARK_PAUSE_CANCEL]
description: Helper: park toolhead used in PAUSE and CANCEL_PRINT
gcode:
  ##### get user parameters or use default #####
  {% set client = printer['gcode_macro _CLIENT_VARIABLE']|default({}) %}
  {% set velocity = printer.configfile.settings.pause_resume.recover_velocity %}
  {% set use_custom     = client.use_custom_pos|default(false)|lower == 'true' %}
  {% set custom_park_x  = client.custom_park_x|default(0.0) %}
  {% set custom_park_y  = client.custom_park_y|default(0.0) %}
  {% set park_dz        = client.custom_park_dz|default(2.0)|abs %}
  {% set sp_hop         = client.speed_hop|default(15) * 60 %}
  {% set sp_move        = client.speed_move|default(velocity) * 60 %}
  ##### get config and toolhead values #####
  {% set origin    = printer.gcode_move.homing_origin %}
  {% set act       = printer.gcode_move.gcode_position %}
  {% set max       = printer.toolhead.axis_maximum %}
  {% set cone      = printer.toolhead.cone_start_z|default(max.z) %} ; height as long the toolhead can reach max and min of an delta
  {% set round_bed = True if printer.configfile.settings.printer.kinematics is in ['delta','polar','rotary_delta','winch']
                else False %}
  ##### define park position #####
  {% set z_min = params.Z_MIN|default(0)|float %}
  {% set z_park = [[(act.z + park_dz), z_min]|max, (max.z - origin.z)]|min %}
  {% set x_park = params.X       if params.X is defined
             else custom_park_x  if use_custom
             else 0.0            if round_bed
             else (max.x - 5.0) %}
  {% set y_park = params.Y       if params.Y is defined
             else custom_park_y  if use_custom
             else (max.y - 5.0)  if round_bed and z_park < cone
             else 0.0            if round_bed
             else (max.y - 5.0) %}
  ##### end of definitions #####
  _CLIENT_RETRACT
  {% if "xyz" in printer.toolhead.homed_axes %}
    G90
    G1 Z{z_park} F{sp_hop}
    G1 X{x_park} Y{y_park} F{sp_move}
    {% if not printer.gcode_move.absolute_coordinates %} G91 {% endif %}
  {% else %}
    RESPOND TYPE=echo MSG='Printer not homed'
  {% endif %}
  
[gcode_macro _CLIENT_EXTRUDE]
description: Extrudes, if the extruder is hot enough
gcode:
  ##### get user parameters or use default #####
  {% set client = printer['gcode_macro _CLIENT_VARIABLE']|default({}) %}
  {% set use_fw_retract = (client.use_fw_retract|default(false)|lower == 'true') and (printer.firmware_retraction is defined) %}
  {% set length = params.LENGTH|default(client.unretract)|default(1.0)|float %}
  {% set speed = params.SPEED|default(client.speed_unretract)|default(35) %}
  {% set absolute_extrude = printer.gcode_move.absolute_extrude %}
  ##### end of definitions #####
  {% if printer.toolhead.extruder != '' %}
    {% if printer[printer.toolhead.extruder].can_extrude %}
      {% if use_fw_retract %}
        {% if length < 0 %}
          G10
        {% else %}
          G11
        {% endif %}
      {% else %}
        M83
        G1 E{length} F{(speed|float|abs) * 60}
        {% if absolute_extrude %}
          M82
        {% endif %}
      {% endif %}
    {% endif %}
  {% endif %}

[gcode_macro _CLIENT_RETRACT]
description: Retracts, if the extruder is hot enough
gcode:
  {% set client = printer['gcode_macro _CLIENT_VARIABLE']|default({}) %}
  {% set length = params.LENGTH|default(client.retract)|default(1.0)|float %}
  {% set speed = params.SPEED|default(client.speed_retract)|default(35) %}

  _CLIENT_EXTRUDE LENGTH=-{length|float|abs} SPEED={speed|float|abs}

[gcode_macro _CLIENT_LINEAR_MOVE]
description: Linear move with save and restore of the gcode state
gcode:
  {% set x_move = "X" ~ params.X if params.X is defined else "" %}
  {% set y_move = "Y" ~ params.Y if params.Y is defined else "" %}
  {% set z_move = "Z" ~ params.Z if params.Z is defined else "" %}
  {% set e_move = "E" ~ params.E if params.E is defined else "" %}
  {% set rate = "F" ~ params.F if params.F is defined else "" %}
  {% set ABSOLUTE = params.ABSOLUTE | default(0) | int != 0 %}
  {% set ABSOLUTE_E = params.ABSOLUTE_E | default(0) | int != 0 %}
  SAVE_GCODE_STATE NAME=_client_movement
  {% if x_move or y_move or z_move %}
    G9{ 0 if ABSOLUTE else 1 }
  {% endif %}
  {% if e_move %}
    M8{ 2 if ABSOLUTE_E else 3 }
  {% endif %}
  G1 { x_move } { y_move } { z_move } { e_move } { rate }
  RESTORE_GCODE_STATE NAME=_client_movement
