# Fans configuration for PEEK650HT

[fan]
pin:motion:PE8 # PB8
kick_start_time: 0.5
off_below: 0.10
max_power: 1.0

[fan_generic Air_filter_fan]
pin: motion:PE14
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 1.0
off_below: 0.10

[multi_pin bed_fan]
pins: AC:PB10, AC:PB13

[controller_fan heater_bed_fan]
pin: multi_pin:bed_fan
max_power: 1
shutdown_speed: 1
fan_speed: 1.0
idle_timeout: 30
idle_speed:1
heater: heater_bed
stepper:

[multi_pin chamber_fan]
pins: AC:PC10, AC:PB9, AC:PB7, AC:PB5

[controller_fan chamber_fan]
pin: multi_pin:chamber_fan
cycle_time: 0.001
max_power: 0.5
#shutdown_speed: 1
fan_speed: 1
idle_timeout: 30
idle_speed: 1
heater: heater_chamber
stepper:


# system fan
#
# 2 up chamber in  fan - 9225       - PA9, PC6
# 2 up chamber out fan - cross-flow - motion:PB0
# 2 Y shell fan        - 9225       - motion:PB1
# 2 left  fan          - cross-flow - motion:PE12
# 2 right fan          - cross-flow - motion:PE12
# 2 front door fan     - cross-flow - motion:PC6
# 2 control room fan   - cross-flow - motion:PA7
#
[multi_pin system_fan]
pins: PA9, PC6, motion:PB0, motion:PB1, motion:PE12, motion:PC6, motion:PA7

#[fan_generic system_fan]
[heater_fan system_fan]
pin: multi_pin:system_fan
max_power: 1
shutdown_speed: 1
heater: heater_chamber
heater_temp: 70
fan_speed: 1.0



