# camera calibration config for D800Ultra

[ktamv]
camera_center_points: 530, -21, 20.0
base_x_offset: 50.0

[nozzle_cleaner]
clean_x_min: 373
clean_x_max: 418
clean_y_min: -18
clean_y_max: -20
clean_z_height: 2.5
retract_z_height: 20.0
move_speed: 6000.0
clean_speed: 4000.0
hotend_temp: 180.0
