# macros config for D800Ultra

########################################
# GCODE
########################################

[gcode_macro _USER_POS_CONSTANT]
variable_x_min_pos      : 0
variable_x_max_pos      : 800.0
variable_max_y_pos      : 650.0
variable_safe_distance  : 75.0
variable_x1_park_pos    : 875.0  # x_max_pos + safe_distance
variable_copy_ready_pos : 437.5   # (x_max_pos + safe_distance)/2
gcode:
 # Nothing

[gcode_macro _STEPPER_ENABLE]
gcode:
    {% set axes = params.AXES.split(',') %}
    {% for axis in axes %}
        {% set stepper = 'stepper_' ~ axis.strip() %}
        SET_STEPPER_ENABLE STEPPER={stepper} ENABLE=1
    {% endfor %}

[gcode_macro ENABLE_MOTOR]
gcode:
    _STEPPER_ENABLE AXES=x,y,z,z1,z2,z3
    SET_KINEMATIC_POSITION X=400 Y=325 Z=0

[gcode_macro _RESTORE_DEFAULT_EXTRUDER]
gcode:
    SET_GCODE_OFFSET Z=0
    SET_GCODE_OFFSET Y=0
    SET_GCODE_OFFSET X=0
    SYNC_EXTRUDER_MOTION EXTRUDER=extruder1 MOTION_QUEUE=extruder1
    ACTIVATE_EXTRUDER EXTRUDER=extruder
    SET_DUAL_CARRIAGE CARRIAGE=0

[gcode_macro _PLATFORM_LIFT]
gcode:
    {% set distance = params.DISTANCE|default(0) %}
    {% set speed = params.SPEED|default(300) %}
    {% if "z" in printer.toolhead.homed_axes %}
        SAVE_GCODE_STATE NAME=platform_lift_state
        G91
        G1 Z{distance} F{speed}
        RESTORE_GCODE_STATE NAME=platform_lift_state
    {% endif %}

[gcode_macro _PARK_extruder]
gcode:
    {% set user = printer['gcode_macro _USER_POS_CONSTANT']|default({}) %}
    ACTIVATE_EXTRUDER EXTRUDER=extruder
    SET_DUAL_CARRIAGE CARRIAGE=0
    SAVE_GCODE_STATE NAME=park_extruder
    G90
    G1 X{user.x_min_pos|default(0)|float} F6000
    RESTORE_GCODE_STATE NAME=park_extruder

[gcode_macro T0]
gcode:
    {% set checkfila = params.CHECKFILA|default(True) %}
    {% set sv = printer.save_variables.variables %}
    {% set z_offset = sv.nozzle_z_offset_val|default(0)|float %}
    {% set z_offset = -z_offset %}
    {% set client = printer['gcode_macro _CLIENT_VARIABLE']|default({}) %}
    {% set filament_insert = True if client.filament_sensor|default("") == ""
                    else True if not printer[client.filament_sensor].enabled
                    else printer[client.filament_sensor].filament_detected|default(False) %}
    {% set printing = printer.print_stats.state == "printing" %}
    {% if "x" not in printer.toolhead.reliable_axes %}
        G28 X
        {% set x_home = true %}
    {% endif %}
    {% if printer.toolhead.extruder != 'extruder' or x_home %}
        _PLATFORM_LIFT DISTANCE=1
        _PARK_{printer.toolhead.extruder}
        ACTIVATE_EXTRUDER EXTRUDER=extruder
        SET_DUAL_CARRIAGE CARRIAGE=0
        {% if "z" in printer.toolhead.homed_axes | lower %}
            SET_GCODE_OFFSET Z_ADJUST={z_offset} MOVE=1
        {% else %}
            SET_GCODE_OFFSET Z_ADJUST={z_offset}
        {% endif %}
        SET_GCODE_OFFSET Y=0
        SET_GCODE_OFFSET X=0
        SAVE_GCODE_STATE NAME=park0
        G90
        G1 X0 F6000
        RESTORE_GCODE_STATE NAME=park0
        _PLATFORM_LIFT DISTANCE=-1
    {% endif %}
    {% if checkfila and printing and filament_insert == False %}
        PAUSE
        SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=change_runout VALUE='"T0"'
        RESPOND TYPE=error MSG='{"Noting! Left extruder filament has been run out."}'
    {% endif %}

[gcode_macro _PARK_extruder1]
variable_x_offset: 0
gcode:
    {% set user = printer['gcode_macro _USER_POS_CONSTANT']|default({}) %}
    ACTIVATE_EXTRUDER EXTRUDER=extruder1
    SET_DUAL_CARRIAGE CARRIAGE=1
    SAVE_GCODE_STATE NAME=park_extruder1
    SET_GCODE_OFFSET X=0
    G90
    G1 X{user.x1_park_pos|float} F6000
    RESTORE_GCODE_STATE NAME=park_extruder1

[gcode_macro T1]
gcode:
    {% set checkfila = params.CHECKFILA|default(True) %}
    {% set sv = printer.save_variables.variables %}
    {% set x_offset = sv.nozzle_x_offset_val|default(0)|float %}
    {% set y_offset = sv.nozzle_y_offset_val|default(0)|float %}
    {% set z_offset = sv.nozzle_z_offset_val|default(0)|float %}
    {% set x_offset = x_offset - 50 %}
    {% set user = printer['gcode_macro _USER_POS_CONSTANT']|default({}) %}
    {% set client = printer['gcode_macro _CLIENT_VARIABLE']|default({}) %}
    {% set filament_insert = True if client.filament_sensor1|default("") == ""
                    else True if not printer[client.filament_sensor1].enabled
                    else printer[client.filament_sensor1].filament_detected|default(False) %}
    {% set printing = (printer.print_stats.state == "printing") %}
        {% if "x" not in printer.toolhead.reliable_axes %}
            G28 X
            {% set x_home = true %}
        {% endif %}

        {% if printer.toolhead.extruder != 'extruder1' or x_home %}
            _PLATFORM_LIFT DISTANCE=1
            _PARK_{printer.toolhead.extruder}
            ACTIVATE_EXTRUDER EXTRUDER=extruder1
            SET_DUAL_CARRIAGE CARRIAGE=1
            SAVE_GCODE_STATE NAME=park1
            G90
            G1 X{user.x1_park_pos} F6000
            SET_GCODE_VARIABLE MACRO=_PARK_extruder1 VARIABLE=x_offset VALUE="{x_offset}"
            RESTORE_GCODE_STATE NAME=park1
            {% if "z" in printer.toolhead.homed_axes | lower %}
                SET_GCODE_OFFSET Z_ADJUST={z_offset} MOVE=1
            {% else %}
                SET_GCODE_OFFSET Z_ADJUST={z_offset}
            {% endif %}
            SET_GCODE_OFFSET Y={y_offset}
            SET_GCODE_OFFSET X={x_offset}
            _PLATFORM_LIFT DISTANCE=-1
        {% endif %}
    {% if checkfila and printing and filament_insert == False %}
        PAUSE
        SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=change_runout VALUE='"T1"'
        RESPOND TYPE=error MSG='{"Noting! Right extruder filament has been run out."}'
    {% endif %}

[gcode_macro ACTIVATE_COPY_MODE]
gcode:
    _SET_DUAL_MODE MODE="copy"

[gcode_macro ACTIVATE_MIRROR_MODE]
gcode:
    _SET_DUAL_MODE MODE="mirror"

[gcode_macro _ACTIVATE_PRIMARY_MODE]
gcode:
    _SET_DUAL_MODE MODE="primary"

[gcode_macro _SET_DUAL_MODE]
variable_dual_mode: "primary"
gcode:
    {% set apply = params.APPLY|default(0)|int %}
    {% set user = printer['gcode_macro _USER_POS_CONSTANT']|default({}) %}
    {% set mode = params.MODE|default("primary") %}
    {% if 'xyz' in printer.toolhead.reliable_axes and apply %}
        {% if mode == "copy" or mode == "mirror"%}
            G90
            SET_DUAL_CARRIAGE CARRIAGE=0 MODE=PRIMARY
            G1 X0 F6000
            ACTIVATE_EXTRUDER EXTRUDER=extruder
            SET_DUAL_CARRIAGE CARRIAGE=1 MODE=PRIMARY
        {% endif %}
        {% if mode == "copy" %}
            G1 X{user.copy_ready_pos|float} F6000
            SET_DUAL_CARRIAGE CARRIAGE=1 MODE=COPY
            SYNC_EXTRUDER_MOTION EXTRUDER=extruder1 MOTION_QUEUE=extruder
        {% elif mode == "mirror" %}
            G1 X{user.x1_park_pos|float} F6000
            SET_DUAL_CARRIAGE CARRIAGE=1 MODE=MIRROR
            SYNC_EXTRUDER_MOTION EXTRUDER=extruder1 MOTION_QUEUE=extruder
        {% elif mode == "primary" %}
            SYNC_EXTRUDER_MOTION EXTRUDER=extruder1 MOTION_QUEUE=extruder1
            ACTIVATE_EXTRUDER EXTRUDER=extruder
            SET_DUAL_CARRIAGE CARRIAGE=0
        {% endif %}
        _RUNOUT_HANDLE
    {% endif %}
    SET_GCODE_VARIABLE MACRO=_SET_DUAL_MODE VARIABLE=dual_mode VALUE='"{mode}"'

[gcode_macro _START_PRINT_BASE]
description: Call when starting to print
variable_door_can_start: True
variable_filament_can_start: True
gcode:
    {% if printer['door front_door'] %}
        _DOOR_START_PRINT_RESPOND
    {% endif %}
    _CLEAR_LAST_FILE
    _RUNOUT_HANDLE

[gcode_macro _CANCEL_PRINT_BASE]
description: Call when cancelled to print
gcode:
    M220 S100
    M221 S100
    _ACTIVATE_PRIMARY_MODE

[gcode_macro START_PRINT]
gcode:
    {% set BED_TEMP = params.BED|default(0)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER|default(0)|float %}
    {% set EXTRUDER_TEMP1 = params.EXTRUDER1|default(0)|float %}
    {% set CHAMBER_TEMP = params.CHAMBER|default(0)|float %}
    {% set dual_mode = printer['gcode_macro _SET_DUAL_MODE'].dual_mode|default("primary") %}
    {% if params.BED is defined %}
        M140 S{BED_TEMP}
    {% endif %}
    {% if params.CHAMBER is defined %}
        M141 S{CHAMBER_TEMP}
    {% endif %}
    T0 CHECKFILA False
    G28 XY
    {% if BED_TEMP != 0 %}
        M190 S{BED_TEMP}
    {% endif %}
    {% if CHAMBER_TEMP != 0 %}
        M191 S{CHAMBER_TEMP}
    {% endif %}
    _START_PRINT_BED_MESH ONLY_FAN=1
    CLEAN_NOZZLE EXTRUDER=extruder
    G28 Z
    _START_PRINT_BED_MESH
    {% if EXTRUDER_TEMP != 0 %}
        M104 T0 S{EXTRUDER_TEMP}
    {% endif %}
    {% if EXTRUDER_TEMP1 != 0 %}
        M104 T1 S{EXTRUDER_TEMP1}
    {% endif %}
    {% if EXTRUDER_TEMP != 0 %}
        M109 T0 S{EXTRUDER_TEMP}
    {% endif %}
    {% if EXTRUDER_TEMP1 != 0 %}
        M109 T1 S{EXTRUDER_TEMP1}
    {% endif %}
    _SET_DUAL_MODE MODE={dual_mode} APPLY=1
    {% if EXTRUDER_TEMP > 0 or EXTRUDER_TEMP1 > 0 %}
        SAVE_GCODE_STATE NAME=nozzle_wipe_state
        G90
        M82

        {% if dual_mode == "copy" or dual_mode == "mirror" %}
            {% if EXTRUDER_TEMP > 0 %}
                T0
                G92 E0
                G1 Z2.0 F3000
                M221 T0 S200
                G1 X10 Y1 Z0.2 F5000.0
                G1 X110 Y1 Z0.2 F1500.0 E15
                G92 E0
            {% endif %}
        {% else %}
            {% if EXTRUDER_TEMP > 0 %}
                T0
                G92 E0
                G1 Z2.0 F3000
                M221 T0 S200
                G1 X10 Y1 Z0.2 F5000.0
                G1 X110 Y1 Z0.2 F1500.0 E15
                G92 E0
            {% endif %}

            {% if EXTRUDER_TEMP1 > 0 %}
                T1
                G92 E0
                G1 Z2.0 F3000
                M221 T1 S200
                G1 X120 Y2 Z0.2 F5000.0
                G1 X220 Y2 Z0.2 F1500.0 E15
                M221 T1 S100
                G92 E0
            {% endif %}
        {% endif %}

        RESTORE_GCODE_STATE NAME=nozzle_wipe_state
    {% endif %}


[gcode_macro PRINT_START]
gcode:
    START_PRINT

[gcode_macro END_PRINT]
gcode:
    {% set user = printer['gcode_macro _USER_POS_CONSTANT']|default({}) %}
    {% set extruder = printer.toolhead.extruder|default('extruder') %}
    {% set svv = printer.save_variables.variables %}
    {% set y_offset = svv.nozzle_y_offset_val|default(0)|float if extruder == 'extruder1' else 0 %}
    M400
    M220 S100
    M221 S100
    G92 E0
    G1 E-10.0 F3600
    G91
    {% if printer["dual_carriage"] is defined %}
        {% set dual_mode = printer['gcode_macro _SET_DUAL_MODE'].dual_mode|default("primary") %}
        {% if dual_mode == "copy" or dual_mode == "mirror" %}
            G0 Z1.00 F6000
            _ACTIVATE_PRIMARY_MODE
            G90
            _PARK_extruder
            _PARK_extruder1
            G91
        {% endif %}
    {% else %}
        G0 Z1.00 X20.0 Y20.0 F6000
	{% endif %}
    TURN_OFF_HEATERS
    M107
    G1 Z2 F3000
    G90
    G0 Y{user.max_y_pos - y_offset} F3600
    # BED_MESH_CLEAR

[gcode_macro PRINT_END]
gcode:
    END_PRINT

[gcode_macro _START_PRINT_BED_MESH]
gcode:
    {% set idex_mode = False %}
    {% set profiles = printer["bed_mesh"].profiles %}
    {% set svv = printer.save_variables.variables %}
    {% set adaptive_mesh = svv.adaptive_meshing|default(false)|lower %}
    {% set profile_name = printer.bed_mesh.profile_name|default("") %}
    {% if printer["dual_carriage"] is defined %}
        {% set current_idex_mode = printer["dual_carriage"].carriage_1|lower %}
        {% if current_idex_mode == "copy"  or current_idex_mode == "mirror" %}
            {% set idex_mode = True %}
            BED_MESH_CLEAR
        {% endif %}
    {% endif %}
    {% if adaptive_mesh == 'true' and not idex_mode %}
        {% if printer.exclude_object.objects != [] %}
            SET_FAN_FULL_SPEED ENABLE=1
            {% if params.ONLY_FAN is not defined %}
                BED_MESH_CALIBRATE PROFILE=adaptive ADAPTIVE=1 METHOD=rapid_scan
            {% endif %}
        {% else %}
            {% if 'default' in profiles %}
                {% if params.ONLY_FAN is not defined %}
                    BED_MESH_PROFILE LOAD=default
                {% endif %}
            {% else %}
                SET_FAN_FULL_SPEED ENABLE=1
                {% if params.ONLY_FAN is not defined %}
                    BED_MESH_CALIBRATE PROFILE=default METHOD=rapid_scan
                    BED_MESH_PROFILE SAVE=default
                {% endif %}
            {% endif %}
        {% endif %}
    {% else %}
        {% if profile_name.startswith("adaptive-") %}
            {% if params.ONLY_FAN is not defined %}
                BED_MESH_CLEAR
            {% endif %}
        {% endif %}
    {% endif %}

[gcode_macro LOAD_FILAMENT]
variable_load_distance:  120
variable_purge_distance:  25
gcode:
    {% set speed = params.SPEED|default(200) %}
    {% set max_velocity = printer.configfile.settings['extruder'].max_extrude_only_velocity  * 10 %}
    SAVE_GCODE_STATE NAME=load_state
    G91
    G92 E0
    G1 E{load_distance} F{max_velocity} # fast-load
    G1 E{purge_distance} F{speed} # purge
    RESTORE_GCODE_STATE NAME=load_state

[gcode_macro UNLOAD_FILAMENT]
variable_unload_distance:  90
variable_purge_distance:  20
gcode:
    {% set speed = params.SPEED|default(200) %}
    {% set max_velocity = printer.configfile.settings['extruder'].max_extrude_only_velocity  * 10 %}
    SAVE_GCODE_STATE NAME=unload_state
    G91
    G92 E0
    G1 E{purge_distance} F{speed} # purge
    G1 E-{unload_distance} F{max_velocity} # fast-unload
    RESTORE_GCODE_STATE NAME=unload_state

[gcode_macro _INSERT_LOAD_FILAMENT]
variable_active_load_distance: 130
variable_inactive_load_distance: 80
gcode:
    _FILAMENT_UPDATE
    {% set extruder = params.EXTRUDER|default('extruder') %}
    {% set current_extruder = printer.toolhead.extruder %}
    {% set speed = params.SPEED|default(300) %}

    {% if printer[extruder].temperature > 200 %}
        SAVE_GCODE_STATE NAME=insert_load_state
        {% if current_extruder != extruder %}
            ACTIVATE_EXTRUDER EXTRUDER={extruder}
            {% set load_distance = inactive_load_distance %}
        {% else %}
            {% set load_distance = active_load_distance %}
        {% endif %}
        G91
        G92 E0
        G1 E{load_distance} F{speed}
        {% if current_extruder != extruder %}
            ACTIVATE_EXTRUDER EXTRUDER={current_extruder}
        {% endif %}
        RESTORE_GCODE_STATE NAME=insert_load_state
    {% endif %}

[gcode_macro G28]
rename_existing: C28
gcode:
    {% set homing_cmd = ''%}
    {% set save_dual_mode = printer['gcode_macro _SET_DUAL_MODE'].dual_mode|default("primary") %}
    {% set do_x = 'X' in params|string %}
    {% set do_y = 'Y' in params|string %}
    {% set do_z = 'Z' in params|string %}
    {% if save_dual_mode == "copy" or save_dual_mode == "mirror" %}
        _SET_DUAL_MODE MODE="primary"
    {% endif %}
    {% if do_x %}
        _STEPPER_ENABLE AXES=x,z,z1,z2,z3
        G4 P300
        {% set homing_cmd = 'X ' %}
    {% endif %}
    {% if do_y %}
        _STEPPER_ENABLE AXES=y,z,z1,z2,z3
        G4 P300
        {% set homing_cmd = homing_cmd + 'Y ' %}
    {% endif %}
    {% if do_z %}
        {% if 'x' not in printer.toolhead.reliable_axes|lower or 'y' not in printer.toolhead.reliable_axes|lower %}
            {% set homing_cmd = 'X Y Z' %}
        {% else %}
           {% set homing_cmd = homing_cmd + 'Z' %}
        {% endif %}
    {% endif %}
    {% if not homing_cmd %}
        _STEPPER_ENABLE AXES=x,y,z,z1,z2,z3
        G4 P300
        C28
        _RESTORE_DEFAULT_EXTRUDER
    {% else %}
        C28 {homing_cmd}
        {% if 'X' in homing_cmd %}
            _RESTORE_DEFAULT_EXTRUDER
    	{% endif %}
    {% endif %}
    {% if save_dual_mode == "copy" or save_dual_mode == "mirror" %}
        _SET_DUAL_MODE MODE={save_dual_mode}
    {% endif %}

[gcode_macro M109]
rename_existing: C109
gcode:
    {% set hotend = printer.toolhead.extruder %}
    {% set s = params.S|default(0)|float %}
    {% set t = params.T|default(0)|int %}
    {% if params.S is defined %}
        {% if params.T is defined %}
           {% set hotend = "extruder" ~ (t if t != 0 else '') %}
        {% endif %}
        SET_HEATER_TEMPERATURE HEATER={hotend} TARGET={s}
        {% if s != 0 %}
            TEMPERATURE_WAIT SENSOR={hotend} MINIMUM={s-3} MAXIMUM={s+3}
        {% endif %}
    {% endif %}

[gcode_macro M141]
gcode:
    {% set s = params.S|default(0)|float %}
    {% if params.S is defined %}
        SET_HEATER_TEMPERATURE HEATER=heater_chamber target={s|int}
    {% endif %}

[gcode_macro M190]
rename_existing: C190
gcode:
    {% set s = params.S|default(0)|float %}
    {% if params.S is defined %}
        SET_HEATER_TEMPERATURE HEATER="heater_bed" TARGET={s}
        {% if s != 0 %}
            TEMPERATURE_WAIT SENSOR="heater_bed" MINIMUM={s-3} MAXIMUM={s+3}
        {% endif %}
    {% endif %}

[gcode_macro M191]
gcode:
    {% set s = params.S|default(0)|float %}
    {% if params.S is defined %}
        M141 S{s}
        {% if s != 0 %}
            TEMPERATURE_WAIT SENSOR="heater_chamber" MINIMUM={s-3} MAXIMUM={s+3}
        {% endif %}
    {% endif %}

[gcode_macro M84]
rename_existing: C84
gcode:
    {% set z_offset = printer.gcode_move.homing_origin[2]|default(0)|float %}
    C84
    _STEPPER_ENABLE AXES=z,z1,z2,z3
    _RESTORE_DEFAULT_EXTRUDER
    SET_GCODE_OFFSET Z={z_offset} MOVE=0

########################################
# Nozzle Calibrate
########################################

[gcode_macro PROBE_CALIBRATE]
rename_existing: PROBE_CALIBRATE_RAW
gcode:
    T0
    G4 P1000
    PROBE_CALIBRATE_RAW

[gcode_macro _NOZZLE_XY_OFFSET_CALIBRATE]
gcode:
    {% set temps = [] %}
    {% for extruder_name in ['extruder', 'extruder1'] %}
        {% set temp = printer[extruder_name].target if printer[extruder_name].target != 0 else 210 %}
        {% set _ = temps.append(temp) %}
    {% endfor %}
    {% set bed_temp = printer['heater_bed'].target if printer['heater_bed'].target != 0 else 55 %}
    SDCARD_PRINT_FILE FILENAME=".PresetModel/NozzleAglin.gcode"
    {% for i in range(2) %}
        M104 T{i} S{temps[i]}
    {% endfor %}
    M140 S{bed_temp}
    {% for i in range(2) %}
        M109 T{i} S{temps[i]}
    {% endfor %}
    M190 S{bed_temp}

[gcode_macro RIGHT_NOZZLE_PROBE]
gcode:
  T1
  G4 P500
  PROBE_ACCURACY PROBE=right_nozzle
