# MCU configuration for D800Ultra

[mcu]
min_firmware_version: 3.1.5
canbus_uuid:000000000010
canbus_interface: can0

[mcu L_tool]
canbus_uuid:000000000001
canbus_interface: can0

[mcu R_tool]
canbus_uuid:000000000002
canbus_interface: can0

[mcu motion]
canbus_uuid:000000000006
canbus_interface: can0

[mcu detect]
firmware_name: detect_HES
canbus_uuid:000000000005
canbus_interface: can0

[mcu AC]
canbus_uuid:000000000007
canbus_interface: can0
