# camera calibration config for D400

[ktamv]
camera_center_points: 359, -22.5, 25
base_x_offset: 53.0

[nozzle_cleaner]
clean_x_min: 380
clean_x_max: 420
clean_y_min: -27
clean_y_max: -14
clean_z_height: 2.5
retract_z_height: 20.0
move_speed: 6000.0
clean_speed: 4000.0
hotend_temp: 180.0
